name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to Server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: 22
          script: |
            set -e
            cd /var/www/PulseMaker-Webside
            git fetch origin
            git reset --hard origin/main
            git pull --rebase origin main

            yarn install
            yarn build
            rm -rf node_modules